.button {
  text-transform: uppercase;
  border-radius: 0;
  padding: 0;
  &:focus{
    box-shadow: none;
  }
  a {
    padding: $pd-2 $pd-3;
    transition: 0.5s;
    text-decoration: none;
    @include styleTextFS($color-white-0, $fs-2 - 1, $ls-1);
  }
}

.button--black{
  a{
    background-color: $color-black-0;
    &:hover{
      background-color: $color-yellow-1;
      color: $color-white-0;
    }
  }
}
.button--yellow{
  a{
    background-color: $color-yellow-1;
    &:hover{
      background-color: $color-white-0;
      color: $color-black-0;
    }
  }
}
