.owl-theme .owl-dots .owl-dot span {
  background-color: #eaeaea;
  opacity: 0;

}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  background-color: #eaeaea;
}