// Color
$color-white-0: #fff;
$color-white-1: #f5f5f5;
$color-white-2: #e9e9e9;
$color-white-3: rgba(255, 255, 255, .9);
$color-white-4: rgba(255, 255, 255, .5);
$color-black-0: #222;
$color-black-1: #333;
$color-black-2: #595959;
$color-black-3: #323232;
$color-black-4: #1b1b1b;
$color-black-5: rgba(0, 0, 0, .7);
$color-black-6: rgba(0, 0, 0, .6);
$color-black-7: rgba(0, 0, 0, .5);
$color-black-8: #0a0a0a;
$color-black-9: #6f7273;
$color-gray-0: #7e7e7e;
$color-gray-1: #a9a8a8;
$color-gray-2: #bbb;
$color-gray-3: #909090;
$color-gray-4: #5a5a5a;
$color-gray-5: rgba(34, 34, 34, .05);
$color-gray-6: #606060;
$color-gray-7: #a4a4a4;
$color-gray-8: #757575;
$color-gray-9: #7f7f7f;
$color-gray-10: #a2a2a2;
$color-yellow-1: #d6b161;

// Font-size
$fs-1: 13px;
$fs-2: 15px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 30px;
$fs-7: 36px;
$fs-8: 60px;

// Font-weight
$fw-0: 300;
$fw-1: 400;

// Line-height
$lh-0: 25px;
$lh-1: 30px;
$lh-2: 1.5;
$lh-3: 20px;
$lh-4: auto;
$lh-5: 45px;

// Letter-spacing
$ls-1: 1px;
$ls-2: 2px;
$ls-3: 3px;
$ls-4: 4px;
$ls-5: 5px;
$ls-6: 6px;

// Margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 50px;
$mg-8: 80px;
$mg-10: 100px;

// Padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 30px;
$pd-4: 100px;
$pd-5: 48px;
$pd-6: 40px;
$pd-7: 160px;
$pd-8: 35px;
$pd-9: 70px;
$pd-10: 75px;
$pd-11: 20px;

$breakpoints: (
  "extra-large": 1399.98px,
  "large": 1199.98px,
  "medium": 991.98px,
  "small": 767.98px,
  "extra-small": 575.98px,
);
