.follow{
  padding: $pd-7 0;
  background-image: url("../img/follow-01.jpg");
  @include bgFixed;
  .follow__content {
    text-align: center;
    text-transform: uppercase;
    p {
      @include styleTextFS ($color-yellow-1, $fs-2 + 1, $ls-3);
      margin-bottom: 0;
    }
    h1 {
      @include styleTextFS ($color-white-0, $fs-7, $ls-2);
      margin-bottom: $mg-6;
    }
  }
  @include responsive ("small") {
    .follow__content {
      h1 {
        font-size: $fs-6;
      }
    }
  }
  @include responsive ("extra-small") {
    .follow__content {
      h1 {
        font-size: $fs-5;
      }
    }
  }
}